<!DOCTYPE html>
<html>
  <head>
    <title>villagesbrewery beerfinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body background="Villages_Background.jpg">
    <div class="sb-translucent d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><%= image_tag 'logo.jpg', size: "50x50" %></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Back to the website</a>
    </div>

    <main role="main" class="container">
      <h1 class="mt-5">Where is the beer?</h1>
      <p class="lead">Recent deliveries...</p>
      <%= yield %>
    </main>
  </body>
</html>
