<!DOCTYPE html>
<html>
  <head>
    <title>villagesbrewery beerfinder</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sb-header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><%= image_tag 'logo.jpg', size: "50x50" %></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2" href="http://www.villagesbrewery.com/">Back to the website</a>
    </div>

    <main role="main" class="container">
      <h1 class="mt-5">Where can I find Villages beer?</h1>
      <p class="lead">Find where we have delivered recently near you.</p>
      <%= yield %>

      <small class="text-muted">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
    </main>
  </body>
</html>
